.fa-user-tie{
    position: absolute;
    top: 1%;
    left: 5%;
}
#fname-cont{
    position: relative;
}
#fname{
    height: 20px;
    padding-left: 20px
}
body{
    font-family: 'Oswald', sans-serif;
}